<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    {{ $style := resources.Get "foundation-sites/dist/css/foundation.min.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <meta class="foundation-mq">
</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Chez Tone</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">à Propos</a></li>
        </ul>
    </div>
</div>
<div class="callout large primary">
    <div class="row column text-center">
        <h1>Tone's Blog</h1>
    </div>
</div>
{{ block "main" . }}
{{ end }}
{{ block "footer" . }}
{{ end }}
    {{ $jquery := resources.Get "jquery/dist/jquery.min.js" }}
    <script src="{{ $jquery.Permalink }}"></script>
    {{ $foundation := resources.Get "foundation-sites/dist/js/foundation.min.js" }}
    <script src="{{ $foundation.Permalink }}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>