{{ define "main" }}
<div class="row" id="content">
    <div class="medium-8 columns">
        <section id="blog-post">
            <h3 id="title">{{ .Title }}     <small>{{ .Date.Format "Mon Jan 2, 2006" }}   -   {{ .WordCount }} Words </small></h3>
            <div class="small">
                {{ with .Params.topics }}
                <ul id="topics">
                    {{ range . }}
                    <li><a href="{{ " topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ with .Params.tags }}
                <ul id="tags">
                    {{ range . }}
                    <li><a href="{{ " tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <div class="small">
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                {{ end }}
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                {{ end }}
            </div>
            <div>
                <article class="thumbnail">
                    {{ .Content }}
                </article>
            </div>
        </section>

    </div>
</div>
{{ end }}
